.confirmation-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.confirmation-modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 10px 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 5px;
}

.confirmation-modal-content:hover,
.confirmation-modal:hover {
  cursor: auto;
}

.small-text {
  font-size: 12px;
}

.hover-opacity-effect:hover {
  cursor: pointer;
  opacity: 0.6;
}

.inline-block {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}
