body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.kanban-column-width {
  width: 275px;
  display: inline-block;
}

.kanban-column-width + .kanban-column-width {
  margin-left: 10px;
}

.scrollable {
  max-width: 100vw;
  min-height: 93vh;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.list-title {
  min-height: 20px;
}

i {
  cursor: pointer;
}
