body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.kanban-column {
  min-width: 275px;
  display: inline-block;
}

.kanban-column + .kanban-column {
  margin-left: 10px;
}

.column-content {
  max-height: 80vh;
  overflow-y: auto;
}

.horizontal-scrollable {
  max-width: 100vw;
  min-height: 93vh;
  white-space: nowrap;
  overflow-x: auto;
}

.list-title {
  min-height: 20px;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 0.5;
}

.add-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.add-item-teaxtarea {
  resize: none;
}

.edit-card-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-card-modal-content {
  background-color: #d6d9db;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}
#fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #212529;
}
#fancy-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a0a5ac;
}
