@import "./lists/styles.css";
@import "./header/styles.css";
@import "./authentication/styles.css";
@import "./boards/styles.css";
@import "./cards/styles.css";
@import "./shared/styles.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  margin: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}
#fancy-scrollbar::-webkit-scrollbar-thumb {
  background: #212529;
}
#fancy-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a0a5ac;
}

:root {
  --root-color: white;
  --root-image: url("");
  --text-color: #172b4d;
}

.root-container {
  background-color: var(--root-color);
  background-image: var(--root-image);
  background-size: cover;
}
